<div class="container">
  <h1 class="has-text-centered has-text-weight-semibold">台北市YouBike查詢</h1>
  <form class="field has-addons has-addons-centered">
    <div class="control">
      <div class="select">
        <select id="bike_area">
          <option>士林區</option>
          <option>大同區</option>
          <option>大安區</option>
          <option>中山區</option>
          <option>中正區</option>
          <option>內湖區</option>
          <option>文山區</option>
          <option>北投區</option>
          <option>松山區</option>
          <option>信義區</option>
          <option>南港區</option>
          <option>萬華區</option>
        </select>
      </div>
    </div>
    <div class="control">
      <button type="submit" class="searching button is-warning">
        開始搜尋
      </button>
    </div>
  </form>
  <div id="map" class="column is-half is-offset-one-quarter"></div>
  <div class="bike_information column is-half is-offset-one-quarter">
  
  </div>
</div>

<script defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_map_api_key"] %>&callback=initMap"></script>
